/* 글꼴 및 공통 ----------------------------------------------- */

/* Noto Sans / Noto Serif 글꼴 지정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Noto Serif KR', serif; */

/* 문서 기본 통일 ----------------------------------------------- */

.template-container {
    max-width: 100%;
    height: auto;
    width: 58%; /*/ 컨테이너의 너비를 전체 너비의 80%로 설정 /*/
    margin: 20px auto; /*/ 가로 중앙 정렬 /*/
    display: flex; /*/ flexbox 레이아웃을 사용 /*/
    justify-content: center;
    align-items: center;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.template-container > div {
}

