<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>저축 기록 작성</title>
</head>
<body>
<h2>저축 기록 작성</h2>

<form action="/test2" method="post" th:object="${recordDto}">
    <label for="goalNameDropdown">저축 목표 이름:</label>
    <select id="goalNameDropdown" name="goalNameDropdown" required>
        <option th:each="name : ${goalNames}" th:value="${name}" th:text="${name}" th:utext="${name}"></option>
    </select>
    <br>

    <div id="goalTypeDisplay">저축 목표 유형 : </div>
    <br>

    <label for="savingPrice">저축 금액:</label>
    <input type="number" id="savingPrice" name="savingPrice" required>
    <br>

    <label for="savingDate">저축 일:</label>
    <input type="date" id="savingDate" name="savingDate" required>
    <br>

    <button type="submit">입력</button>
</form>
<script>
    document.getElementById('goalNameDropdown').addEventListener('change', function() {
        var selectedGoalName = this.value; // 선택된 목표 이름
        fetch(`/goal/type?goalName=${encodeURIComponent(selectedGoalName)}`)
            .then(response => {
                if(response.ok) {
                    return response.text(); // JSON이 아닌 텍스트 응답으로 변경
                } else {
                    throw new Error('목표 타입을 불러오는데 실패했습니다.');
                }
            })
            .then(data => {
                document.getElementById('goalTypeDisplay').innerText = '저축 목표 유형 : ' + data; // 목표 타입 표시
            })
            .catch(error => console.error('Error:', error));
    });
</script>

</body>
</html>
