<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/domain/member/signup_form.css">
    <title>회원가입</title>
</head>
<body>
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>아이디</h4>
        </div>
    </div>
    <div>
        <!-- 결과를 표시할 곳 -->
        <p th:text="${message}"></p>
        <a href="/member/login" class="backbtn">돌아가기</a>
    </div>
</div>
</body>
</html>
