<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- 필요한 CSS 스타일 링크 -->
</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form th:action="@{/member/login}" method="post">
        <div class="form-group">
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" name="loginId" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">로그인</button>
        </div>
        <a class="p-2"
           href="https://kauth.kakao.com/oauth/authorize?client_id=13be5c6666b89220f2b3d5571a7a5414&redirect_uri=http://localhost:8080/kakao/callback&response_type=code">
            <div style="display:flex; align-items:center; justify-content: center; width: 350px; height:50px; border: 1px solid black; margin-bottom: 10px;">
                <img style="width: 40px; height: 40px; margin-right: 5px;" th:src="@{/images/kakao.png}">
                <div style="font-size: 22px;">카카오 로그인</div>
            </div>
        </a>
    </form>
    <div class="login-links">
        <a href="/member/signup">회원가입</a> <!-- 회원가입 페이지로의 링크 -->
        <a href="/member/forgot-password">비밀번호 찾기</a> <!-- 비밀번호 찾기 페이지로의 링크 (선택사항) -->
    </div>
</div>
</body>
</html>
