<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>

  <!-- 부트스트랩 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <!-- 사용자 정의 CSS -->
  <link rel="stylesheet" href="/css/common/footer.css">
  <link rel="stylesheet" href="/css/common/header.css">
  <link rel="stylesheet" href="/css/template/template.css">
  <link rel="stylesheet" href="/css/domain/member/mypage.css">
</head>
<body>

<!-- My Page 컨텐츠 -->
<div class="template-container my-page-container">
  <h2>My Page</h2>
  <form action="/member/mypage" method="post">
    <div class="form-group">
      <label for="email">이메일</label>
      <input type="email" id="email" name="email" class="form-control" value="" readonly>

    </div>
    <div class="form-group">
      <label for="birthday">생년월일</label>
      <input type="date" id="birthday" name="birthday" class="form-control" value="${member.birthday}" >
    </div>
    <div class="form-group">
      <label for="phoneNumber">전화번호</label>
      <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" value="" >
    </div>
    <div class="form-group">
      <label for="profileImage">프로필 이미지</label>
      <input type="file" id="profileImage" name="profileImage" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">새로운 비밀번호</label>
      <input type="password" id="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="confirmPassword">비밀번호 확인</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">회원 정보 수정</button>
  </form>
</div>

<!-- 부트스트랩 JS 파일 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous" defer></script>
<!-- 사용자 정의 JavaScript -->
<script src="/js/layout/header.js" defer></script>
</body>
</html>
