<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/domain/member/signup_form.css">
    <title>새 비밀번호 입력</title>
</head>
<body>
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>새 비밀번호 입력</h4>
        </div>
    </div>
    <div>
        <form action="/member/resetpassword" method="post" id="resetPasswordForm">
            <input type="hidden" id="loginId" name="loginId" th:value="${loginId}">
            <div class="mb-3">
                <label for="newPassword">새 비밀번호:</label>
                <input type="password" id="newPassword" name="newPassword" required class="form-control">
            </div>
            <div class="mb-3">
                <label for="confirmPassword">비밀번호 확인:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">비밀번호 변경</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
        var newPassword = document.getElementById('newPassword').value;
        var confirmPassword = document.getElementById('confirmPassword').value;

        if (newPassword !== confirmPassword) {
            alert('비밀번호가 일치하지 않습니다.');
            event.preventDefault(); // 폼 제출 중지
        } else {
            alert('비밀번호 변경 되었습니다.');
        }
    });
</script>

</body>
</html>